*{ font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
#leftCol{}
#rightCol{ margin-top:15px }
#leftCol .card{margin-top: 15px;}
#loaiSach{margin-top: 15px;}
.ads{margin-bottom: 15px;}
#sachmoinhat{margin-top: 15px}
.sach{margin: 5px 5px 0px 0px}
#phantrang a:link, #phantrang a:visited{ display:block; padding:5px; background-color:green; color:yellow }